<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filtro</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div id="main" class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>FILTROS</h1>
                <button class="btn btn-primary" v-on:click="getUsers" v-if="!lists.length">Listar</button>
                <ul class="list-group" v-else>
                    <li class="list-group-item">
                        <input type="text" placeholder="Buscar" class="form-control" v-model="name">
                    </li>
                    <!-- Iterar desde la funcion computada -->
                    <li v-for="item in searchUser" class="list-group-item">
                        {{ item.name }}
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <h1>JSON</h1>
                <pre style="background-color: ghostwhite">
                    {{ $data }}
                </pre>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script>
        var urlUsers = 'https://jsonplaceholder.typicode.com/users';
        new Vue({
            el: '#main',
            data: {
                lists: [],
                name: '',
            },
            methods: {
                getUsers: function () {
                    axios.get(urlUsers).then(response => {
                        this.lists = response.data;
                    });
                }
            },
            // Logica de busqueda
            computed: {
                searchUser: function() {
                    return this.lists.filter((item) => item.name.includes(this.name));
                }
            }

        });    
    </script>
</body>

</html>